.search-form {
  display: flex;
  flex-wrap: nowrap;
  height: 40px;
}

.search {
  width: 100%;
  background: #efefef;
  border: none;
  line-height: 40px;
  padding-left: 10px;

  &:focus {
    outline: none;
  }
}

.submit {
  width: 120px;
  background: #2f80ed;
  border-radius: 0px 4px 4px 0px;
  border: none;
  line-height: 40px;
  color: #ffffff;
  cursor: pointer;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
